:root {
    --line-border-fill: #537188;
    --line-border-empty: #E1D4BB;
}
body{
    background-image: linear-gradient(to right, #eeeeee, #cbccd4, #a5acba, #7e8da1, #537188);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    text-align: center;
}
.container .progressContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 500px;
}
.container .progressContainer::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    height: 8px;
    width: 100%;
}
.container .progressContainer .progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
  }
.container .progressContainer .circle{
    background-color: white;
    display: flex;
    border: 3px solid gainsboro;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.container .progressContainer .active{
    border-color: #CBB279;
}
.container .btns .btn{
    width: 90px;
    height: 5vh;
    padding: 10px;
    border: none;
    overflow: hidden;
    cursor: pointer;
    background-color: #E1D4BB;
    color: #537188;
    margin: 5px;
    border-radius: 5px;
}
.container .btns .btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}